* {
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: 'Inter', sans-serif;
}

h1 {
  padding: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}