.form-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  border: 1px solid $secondary-color;
}

input {
  margin: 5px 0;
  height: 35px;
  padding: 7px;
}

button {
  height: 35px;
  margin: 5px 0;
  background-color: $secondary-color;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: $primary-color;
}