.login-form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  border: 1px solid $secondary-color;
}

input {
  margin: 5px 0;
  height: 35px;
  padding: 7px;
  // background-color: lighten($color: $background-color, $amount: 25%);
}

button {
  height: 35px;
  margin: 5px 0;
  background-color: $secondary-color;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

button:hover {
  background-color: darken($color: $secondary-color, $amount: 25%);
}